<<<<<<< HEAD
.ProductsList table,
.ProductsList {
    width: 100%;
}

.ProductsList table {
    text-align: left;
    font-size: 1.2em;
}

.ProductsList thead th {
    border-bottom: 3px solid black;
    padding: 15px;
}

.ProductsList td {
    padding: 15px;
    border-bottom: 1px solid #ccc
=======
.ProductsList div {
    display: flex;

>>>>>>> 10f1c76d4c87c59a0a60c624f088d1d75febb344
}